<script type='text/javascript' src="../js/common.js"></script>
<script type='text/javascript' src="/js/favRec.js"></script>
<div class="container">
    <h2>My favourite</h2>
    <a href="/favouriteRest">Restaurant</a>
    <a href="/favouriteDish">Dishes</a>
    <a href="/favouriteMeal">Meal Plans</a>
    Recipes
    <div class="favRecipeBG">
        <div class="row no-gutters" id="mainContent">
            <div id="myNotes">
                <div class="container bg-light">
                    <div id='fav-rec-list'></div>
                </div>
            </div>
        </div>
    </div>
</div>