<script type='text/javascript' src="../js/common.js"></script>
<script type='text/javascript' src="/js/favRest.js"></script>

<!-- Banner Background Image -->
<section>
    <div class="bannerbackground">
        <div><p>uncover your healthy lifestyle</p></div>
    </div>
</section> 

{{!-- Sub menu --}}
<div>
    Restaurants
    <a href="/favouriteDish">Dishes</a>
    <a href="/favouriteMeal">Meal Plans</a>
    <a href="/favouriteRec">Recipes</a>
</div>

{{!-- Content --}}
<section class="grid">

    <div class="title">
        <div>
            <span>FAVOURITE RESTAURANT</span>
        </div>
    </div>

    <div class="wrapper" id="fav-rest-list">
        {{!-- favRest.js > $.get(`/api/fav/restaurants`) --}}
    </div>

</section>