<script type='text/javascript' src="/js/favRest.js"></script>
<div class="container">
    <header>
        <h1>Health Quarter</h1>
        <a>LOGOUT</a>
        <p>User ID: <strong><span>{{userID}}</span></strong></p>
    </header>
    <div class="row no-gutters" id="mainContent">
        <div id="myNotes">
            <div class="container bg-light">
                <h2 id="myNotesTitle">Favourite restaurants</h2>
                <div id='fav-rest-list'></div>
            </div>
        </div>
    </div>
</div>