<script type='text/javascript' src="../js/common.js"></script>
<script type='text/javascript' src="/js/favMeal.js"></script>

<!-- Banner Background Image -->
<section>
    <div class="bannerbackground">
        <div><p>uncover your healthy lifestyle</p></div>
    </div>
</section> 

{{!-- Sub menu --}}
<div>
    <a href="/favouriteRest">Restaurants</a>
    <a href="/favouriteDish">Dishes</a>
    Meal Plans
    <a href="/favouriteRec">Recipes</a>
</div>

{{!-- Content --}}
<section class="grid">

    <div class="title">
        <div>
            <span>FAVOURITE MEAL PLANS</span>
        </div>
    </div>

    <div class="wrapper" id="fav-meal-list">
        {{!-- favMeal.js > $.get(`/api/fav/meals`) --}}
    </div>

</section>