<script type='text/javascript' src="/js/index.js"></script>
<div class="container">
    <header>
        <h1>Health Quarter</h1>
        <a href="/delivery">Delivery</a>
        <a href="/recipeFinder">Recipes Finder</a>
        <a href="/login">LOGIN</a>
    </header>
    <div class="row no-gutters" id="mainContent">
        <div id="myNotes">
            <div class="container bg-light">
                <h2 id="myNotesTitle">Restaurants</h2>
                <div id='rest-list'></div>
            </div>
        </div>
    </div>
</div>