<script type='text/javascript' src="/js/mealplans.js"></script>
<div class="container">
    <header>
        <h1><a href="/home">Health Quarter</a></h1>
        <a href="/delivery">Delivery</a>
        <a href="/favouriteRest">My Favourites</a>
        <a href="/recipeFinder">Recipes Finder</a>
        <a href="/logout">LOGOUT</a>
    </header>
    <div class="row no-gutters" id="mainContent">
        <div id="myNotes">
            <div class="container bg-light">
                <button id="favBtn"></button>
                <h2 id="myNotesTitle">Meal Plans</h2>
<<<<<<< HEAD:views/mealplans.handlebars
                <div id='meal-list'></div>
=======
                <div id='meal-listAll'></div>
>>>>>>> 4c8c852ca8c80f45c8513d540a547d7b99b64d00:views/meal.handlebars
            </div>
        </div>
    </div>
</div>