<script type='text/javascript' src="../js/common.js"></script>
<script type='text/javascript' src="/js/rest.js"></script>
<section class="grid">
    <div class="title">
        <div>
            <span>FOOD</span>
            <a href="#">VIEW ALL</a>

        </div>
    </div>

    <div class="wrapper">
        <div class="innerwrapper">
            <div class="name">name</div>
            <div class="heart">heart</div>
            <div class="image">
                <img src=images/bannerbackground.jpg>
            </div>
            <div class "ratings">ratings</div>
            <div class="stars">stars</div>
            <div class="tags">tags</div>
        </div>
    </div>
        <div class="wrapper">
        <div class="innerwrapper">
            <div class="name">name</div>
            <div class="heart">heart</div>
            <div class="image">
                <img src=images/bannerbackground.jpg>
            </div>
            <div class "ratings">ratings</div>
            <div class="stars">stars</div>
            <div class="tags">tags</div>
        </div>
    </div>
        <div class="wrapper">
        <div class="innerwrapper">
            <div class="name">name</div>
            <div class="heart">heart</div>
            <div class="image">
                <img src=images/bannerbackground.jpg>
            </div>
            <div class "ratings">ratings</div>
            <div class="stars">stars</div>
            <div class="tags">tags</div>
        </div>
    </div>
        <div class="wrapper">
        <div class="innerwrapper">
            <div class="name">name</div>
            <div class="heart">heart</div>
            <div class="image">
                <img src=images/bannerbackground.jpg>
            </div>
            <div class "ratings">ratings</div>
            <div class="stars">stars</div>
            <div class="tags">tags</div>
        </div>
    </div>
    

</section>
<div id='rest-detail'></div>
<div id='dish-detail'></div>
<div id='meal-detail'></div>
<div id='rest-review'></div>
<h2>User reviews</h2>
<h2>Submit your comments:</h2>
<form action="/review/:restID" method="post">
    <div>
        <label>Comment:</label>
        <input type="text" id="comment" name="comment" />
    </div>
    <div>
        <label>Rating:</label>
        <div>
            <input type="radio" name="rating" value="1">1
            <input type="radio" name="rating" value="2">2
            <input type="radio" name="rating" value="3">3
            <input type="radio" name="rating" value="4">4
            <input type="radio" name="rating" value="5" checked="checked">5
        </div>
    </div>
    <div>
        <input type="submit" id="submitReview" value="Submit" />
    </div>
    <div id="alert"></div>
</form>