<script type='text/javascript' src="/js/rest.js"></script>
<div class="container">
    <header>
        <h1>Health Quarter</h1>
        <p>Logged in as: <strong><span>{{userID}}</span></strong></p>
    </header>
    <div class="row no-gutters" id="mainContent">
        <div id="myNotes">
            <div class="container bg-light">
                <h2 id="myNotesTitle">Restaurant Details</h2>
                <button id="favBtn">Fav</button>
                <div id='rest-detail'></div>
            </div>
        </div>
    </div>
</div>