<script type='text/javascript' src="../js/common.js"></script>
<script type='text/javascript' src="/js/rest.js"></script>
<section class="grid">
    <div class="title">
        <div>
            <span>FOOD</span>
            <a href="#">VIEW ALL</a>

        </div>
    </div>

    <div class="wrapper">
        <div class="innerwrapper">
            <div class="name">name</div>
            <div class="heart">heart</div>
            <div class="image">
                <img src=images/bannerbackground.jpg>
            </div>
            <div class "ratings">ratings</div>
            <div class="stars">stars</div>
            <div class="tags">tags</div>
        </div>
<<<<<<< HEAD
    </div>
        <div class="wrapper">
        <div class="innerwrapper">
            <div class="name">name</div>
            <div class="heart">heart</div>
            <div class="image">
                <img src=images/bannerbackground.jpg>
            </div>
            <div class "ratings">ratings</div>
            <div class="stars">stars</div>
            <div class="tags">tags</div>
        </div>
    </div>
        <div class="wrapper">
        <div class="innerwrapper">
            <div class="name">name</div>
            <div class="heart">heart</div>
            <div class="image">
                <img src=images/bannerbackground.jpg>
=======
        
        <h2 class="heading">POPULAR ITEMS</h2>

        {{!-- Dish list --}}
        <div class="row dish-row" id="dish-detail"></div>

        {{!-- Meal plan list --}}
        <div class="row meal-row" id="meal-detail"></div>

        {{!-- Review submission form --}}
        <h2 class="heading">REVIEWS</h2>
        <div id="reviewLoginMsg" class="d-flex justify-content-center align-items-center">
            <h3 class="placeholderMsg">Please <a href="/login">login</a> to submit a review</h3>
        </div>
        <form action="/review/:restID" method="post" id="reviewForm">
            <div class="form-group">
                <textarea type="text" id="comment" name="comment" cols="30" rows="10" form="reviewForm" placeholder="Write a review"></textarea>
>>>>>>> ddbcfcb1987b39b7db5002166b43e9992e988f28
            </div>
            <div class "ratings">ratings</div>
            <div class="stars">stars</div>
            <div class="tags">tags</div>
        </div>
    </div>
        <div class="wrapper">
        <div class="innerwrapper">
            <div class="name">name</div>
            <div class="heart">heart</div>
            <div class="image">
                <img src=images/bannerbackground.jpg>
            </div>
            <div class "ratings">ratings</div>
            <div class="stars">stars</div>
            <div class="tags">tags</div>
        </div>
    </div>
    

</section>
<div id='rest-detail'></div>
<div id='dish-detail'></div>
<div id='meal-detail'></div>
<div id='rest-review'></div>
<h2>User reviews</h2>
<h2>Submit your comments:</h2>
<form action="/review/:restID" method="post">
    <div>
        <label>Comment:</label>
        <input type="text" id="comment" name="comment" />
    </div>
    <div>
        <label>Rating:</label>
        <div>
            <input type="radio" name="rating" value="1">1
            <input type="radio" name="rating" value="2">2
            <input type="radio" name="rating" value="3">3
            <input type="radio" name="rating" value="4">4
            <input type="radio" name="rating" value="5" checked="checked">5
        </div>
    </div>
    <div>
        <input type="submit" id="submitReview" value="Submit" />
    </div>
    <div id="alert"></div>
</form>