<script type='text/javascript' src="/js/rest.js"></script>
<div class="container">
    <header>
        <h1><a href="/home">Health Quarter</a></h1>
        <a href="/delivery">Delivery</a>
        <a href="/favouriteRest">My Favourites</a>
        <a href="/recipeFinder">Recipes Finder</a>
        <a href="/logout">LOGOUT</a>
    </header>
    <div class="row no-gutters" id="mainContent">
        <div id="myNotes">
            <div class="container bg-light">
                <button id="favBtn"></button>
                <h2 id="myNotesTitle">Restaurant Details</h2>
                <div id='rest-detail'></div>
                <h2>User reviews</h2>
                <div id='rest-review'>
                    {{!-- {{#each review}}
                        <div class="info-container">
                            <label class="lbl-info">Name: </label><p>{{this.name}}</p>
                            <label class="lbl-info">Comment: </label><p>{{this.comment}}</p>
                            <label class="lbl-info">Rating: </label><p>{{this.rating}}</p>
                            <label class="lbl-info">Date: </label><p>{{this.date}}</p>
                        </div>
                    {{/each}} --}}
                </div>
                <h2>Submit your comments:</h2>
                <form action="/review/:restID" method="post">
                    <div>
                        <label>Comment:</label>
                        <input type="text" id="comment" name="comment" />
                    </div>
                    <div>
                        <label>Rating:</label>
                        <div>
                            <input type="radio" name="rating" value="1">1
                            <input type="radio" name="rating" value="2">2
                            <input type="radio" name="rating" value="3">3
                            <input type="radio" name="rating" value="4">4
                            <input type="radio" name="rating" value="5" checked="checked">5
                        </div>
                    </div>
                    <div>
                        <input type="submit" id="submitReview" value="Submit" />
                    </div>
                    <div id="alert"></div>
                </form>
            </div>
        </div>
    </div>
</div>