<a href="/signup">SIGN UP</a>
<a href="/login">LOG IN</a>
<p>Logged in as:
    <strong>
        <span>{{userID}}</span>
    </strong>
</p>

<h2>Recipe(s) found: </h2>
<table class="table" id="recipe_table">
    <tr>
        <th>Recipe Name:</th>
        <th>Image:</th>
        <th>Learn more button:</th>
        </th>Favourite Recipe </th>
    </tr>
</table>

<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<scripr src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'>
    </script>
    <script type='text/javascript'>

        // make data useable
        let recipes = {{{ data }}};

        $.each(recipes, function (key, value) {
            recipes += '<tr>';
            recipes += '<td>' + value.title + '</td>';
            recipes += '<td><img src=' + value.image + '></td>';
            recipes += '<td><a href="https://spoonacular.com/' + value.title + '-' + value.id + '">Learn More</a></td>';
            recipes += '<td><button name="submit" id="saveRecipe" class="ui save recipe button" type="submit">Favourite Recipe</button></td>'
            recipes += '</tr>';
        });
        $('#recipe_table').append(recipes);


        //favourite recipe

            let recURL = `https://spoonacular.com/${recipes.title}-${recipes.id}`;
            $.get(`/api/fav/rec/${recURL}`).then(res => {
        console.log(res);
            let status = JSON.parse(recURL);
            if (status === true) {
                $('#saveRecipe').html("isFav");
            } else {
                $('#saveRecipe').html("notFav");
            }
        })

        $('#saveRecipe').on('click', () => {
                        console.log('clicked.');
            toggleFav(recURL);
        })


        function toggleFav(recURL) {
            if ($('#saveRecipe').html() === "isFav") {
                axios.delete(`/api/fav/rec/${recURL}`).then(() => {
                    $('#saveRecipe').html("notFav");
                })
            }
            if ($('#saveRecipe').html() === "notFav") {
                axios.post(`/api/fav/rec/${recURL}`).then(() => {
                    $('#saveRecipe').html("isFav");
                })
            }
        }


    </script>