<div class="container">
    <header>
        <h1><a href="/home">Health Quarter</a></h1>
        <a href="/delivery">Delivery</a>
        <a href="/favouriteRest">My Favourites</a>
        Recipe Finder
        <a href="/logout">LOGOUT</a>
    </header>

<h2>Recipe(s) found: </h2>
<table class="table" id="recipe_table">
    <tr>
        <th>Recipe Name:</th>
        <th>Total Servings:</th>
        <th>Image:</th>
        <th>Instructions:</th>
        <th>Cooking Time:</th>
        <th>Learn more button:</th>
        </th>Favourite Recipe </th>
        </tr>
        </table>

</div>

        <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
        <scripr src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script type='text/javascript'>

// make data useable
let recipes = {{{ data }}};

$.each(recipes.recipes, function(key, value){
             recipes += '<tr>';
             recipes += '<td>'+value.title+'</td>';
             recipes += '<td>'+value.servings+'</td>';
             recipes += '<td><img src='+value.image+'></td>';
             recipes += '<td>'+value.instructions+'</td>';
             recipes += '<td>'+value.readyInMinutes+'</td';
             recipes += '<td><a href='+value.spoonacularSourceUrl+'>Learn More</a></td>';
             recipes += '<td><button name="submit" id="saveRecipe" class="ui save recipe button" type="submit">Favourite Recipe</button></td>'
             recipes += '</tr>';
         });
         $('#recipe_table').append(recipes);

         </script>
