<script type='text/javascript' src="../js/common.js"></script>
<script type='text/javascript' src="/js/signup.js"></script>

<section class="grid">
    <div class="container">
        <div class="row">
            <div class="container col-10 d-flex justify-content-center">
                <form action="/signup" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" placeholder="Your email here" required>
                    </div>
                    <div class="form-group">
                        <label for="contactEmail">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Your password here" required>
                    </div>
                    <div class="form-group">
                        <label for="nickname">Nickname:</label>
                        <input type="text" class="form-control" id="nickname" placeholder="Your Nickname here" required>
                    </div>
                    <div class="form-group">
                        <label for="profile pic">Profile picture:</label>
                        <input type="file" accept="image/*" name="profilePic">
                    </div>
                    <div class="form-group">
                        <label for="tag-list">Your message:</label>
                        <div id="tag-list"></div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <button class="btn btn-primary" type="submit" value="Sign up"/>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
</section>


