<div class="container">
    <header>
        <h1><a href="/">Health Quarter</a></h1>
        <a href="/delivery">Delivery</a>
        <a href="/recipeFinder">Recipes Finder</a>
        <a href="/login">LOGIN</a>
    </header>
    <div class="row no-gutters" id="mainContent">
        <div id="myNotes">
                <div class="container bg-light d-flex flex-column align-items-center">
                <h2 id="loginTitle">Sign Up</h2>
                <form action="/signup" method="post" enctype="multipart/form-data">
                    <div class="d-flex justify-content">
                        <label>Email:  </label>
                        <input type="text" name="username"/>
                    </div>
                    <div class="d-flex justify-content">
                        <label>Password:  </label>
                        <input type="password" name="password"/>
                    </div>
                    <div class="d-flex justify-content">
                        <label>Nickname:  </label>
                        <input type="text" name="nickname"/>
                    </div>
                    <div class="d-flex justify-content">
                        <label>Profile pic:  </label>
                        <input type="file" accept="image/*" name="profilePic">
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <input type="submit" value="Sign up"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


